
    img{
        
       
        margin: 0 auto;  /* Margen reducido */
       

    }
    section{
        display: grid;
        place-content: center;
        text-align: center;
    }
    hgroup{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    :root{
        color-scheme: light dark;

    }
    body{
        background-color: black;
        display: grid;
        place-content: center;
    }
